
.dialog {
  box-sizing: border-box;
  width: 100vw;
  overflow: auto;
  min-height: 30vh;
  background-color: #000;
  font-size: 1em;
  text-align: center;
  @media screen and (max-width: 600px) {
    font-size: .5em;
    }
}

.scene {
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
}


  .scene > img {
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
    border: none !important;
    height:100vh;
    @media screen and (min-width: 800px) {
      width: 100vw;
    }

  }
  span {
    color: #FFF;
  }
