.game {
  height: 100vh;
}
.dialog {
  box-sizing: border-box;
  width: 100vw;
  overflow: auto;
  min-height: 3em;
  background-color: #000;
}

.scene {
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
}


  .scene > img {
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
    background-image: url("~/assets/backgrounds/zombiebackground.jpg");
    border: none !important;
    height:100vh;


  }
  span {
    color: #FFF;
  }
