<div class="{{backgroundClass}} background">
<router-outlet></router-outlet>
</div>
<audio *ngIf="['/intro', '/'].includes(url)" id="player" autoplay loop>
   <source src="assets/audio/introMusic.mp3" type="audio/mp3">
</audio>

<audio *ngIf="['/game'].includes(url)" id="player" autoplay loop>
  <source src="assets/audio/gameMusic.mp3" type="audio/mp3">
</audio>

<audio *ngIf="['/start', '/beginning', '/ending', '/reveal'].includes(url)" id="player" autoplay loop>
  <source src="assets/audio/startMusic.mp3" type="audio/mp3">
</audio>


<audio #tearSound>
  <source src="assets/audio/tearSound.wave" type="audio/mp3">
</audio>
