.background {


  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */


  /* This is what makes the background image rescale based
     on the container's size */
     background-size: cover;
     background-position: center;
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  border: none !important;
  height:100vh;
  width: 100vw;
}

.game-background {


  background-image: url("~/assets/backgrounds/floor.jpg");


@media (max-width: 600px) {
  background-image: url("~/assets/backgrounds/floor_rotated.jpg");
}
}
.intro-background {
  background-image: url("~/assets/backgrounds/otherbackground.png");
}
.start-background {
  background-image: url("~/assets/backgrounds/Title_Screen_noText.jpg");
}

.reveal-background {
  background-image: url("~/assets/backgrounds/Birth_Anouncement.png");
}
