.parts-menu {
  min-width: 210px;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;

  // background-position: center center;

  // /* Background image doesn't tile */
  // background-repeat: no-repeat;



  // /* This is what makes the background image rescale based
  //    on the container's size */
  // background-size: cover;

  // /* Set a background color that will be displayed
  //    while the background image is loading */
  // background-color: #464646;
  // background-image: url("https://via.placeholder.com/600x950.png?text=Parts");
}

.game-screen {
  box-sizing: border-box;
  height: 100vh;
}

.body {
  height: 900px;
  width: 600px;

  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;



  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */



}
// .game > div {
//   border: inset;
//   box-sizing: border-box;
//   }

.body-part {
  width: 200px;
  // border: solid 1px;
  // box-sizing: border-box;
}

.head {
  height: 200px;
}

.arm {
  height: 450px;
}

.right {
  & img {
    transform: scaleX(-1);
  }

}

.torso {
  height: 300px;
}

.legs {
height: 405px;
}
