/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "deanna";
  src: url("/assets/font/Deanna.ttf") format("truetype")
}
* {
  font-family: 'deanna', cursive;
}

body {
  margin: 0;
}


